.customButton {
        padding: 1.4rem 2rem;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid $color-primary;
        color: $color-primary;
        text-decoration: none;
        &__alert {
            background:rgba(220, 20, 60, .2);
    
            &:hover {
              background:rgba(220, 20, 60, .5);
            }
          }
          &__succes {
            background:rgba(46, 153, 41, .2);
    
            &:hover {
              background:rgba(46, 153, 41, .5);
            }
          }
      }

.pageTitle {
  color: $color-primary;
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
}



 .valid {

  border-color: #36cc36 !important;

 }
 .invalid {

  border-color: crimson !important;

 }

 .validInfo {
   opacity:1 !important;
   height: auto !important;
   color:crimson;
   margin-bottom: 10px;
 }

  
